<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @calendar.event %>
</p>

<p>
  <b>Date:</b>
  <%= @calendar.date %>
</p>


<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
